{% extends 'front/layout.html.twig' %}

    {% block title %} Lecture d'un chapitre {% endblock %}

    {% block header %}
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url( {{asset('img/post-bg.jpg')}})">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>{{ chapter.title }}</h1>
                        <h2 class="subheading">{{ chapter.subtitle }}</h2>
                        <span class="meta">Par Jean Forteroche, le {{ chapter.date|date('d/m/Y') }}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    {% endblock %}

    {% block body %}
    <!-- Post Content -->
    <article>
         {{ chapter.content }}
         <h2>Commentaires</h2>
         {% for comment in comments %}
<div class="post-preview">

        <h3 class="post-title">{{ comment.author }}, le
        {{ comment.date|date('d/m/Y') }} </h3>
    <p class="post-meta"> {{ comment.content }}</p>
</div>
    {% else %}
      <div>Pas de commentaires</div>
    {% endfor %}
    </article>

    {% endblock %}
