{% extends 'front/layout.html.twig' %}

    {% block title %} Lecture d'un chapitre {% endblock %}

    {% block header %}
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url( {{asset('img/post-bg.jpg')}})">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>{{ chapter.title }}</h1>
                        <h2 class="subheading">{{ chapter.subtitle }}</h2>
                        <span class="meta">Par Jean Forteroche, le {{ chapter.date|date('d/m/Y') }}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    {% endblock %}

    {% block body %}
    <!-- Post Content -->
    <article>
        {{ chapter.content | raw }}

        {% if comments %}
             <h2>Commentaires</h2>
             {% for comment in comments %}
                <div class="post-preview">
                    <h3 class="post-title">{{ comment.author }}, le {{ comment.date|date('d/m/Y') }} </h3>
                    <p class="post-meta"> {{ comment.content }}</p>
                </div>
            {% endfor %}
        {% else %}
            <div>Pas de commentaires</div>
        {% endif %}
                {% for flashMessage in app.session.flashbag.get('info') %}
                    <div class="alert alert-success">
                        {{ flashMessage }}
                    </div>
                {% endfor %}

        <h3>Ajouter un commentaire</h3>
            {% if form %}
                {{ form_start(form) }}
                <div class="form-group">
                    {{ form_errors(form.author) }}
                    {{ form_widget(form.author, { 'attr':  {
                        'rows': '4',
                        'class': 'form-control',
                        'placeholder': 'Votre pseudo'
                    }}) }}
                </div>
                <div class="form-group">
                    {{ form_errors(form.content) }}
                    {{ form_widget(form.content, { 'attr':  {
                        'rows': '4',
                        'class': 'form-control',
                        'placeholder': 'Ecrivez votre commentaire'
                    }}) }}
                </div>


                {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}, 'label': 'Envoyer'}) }}

                {# champ CSRF (géré automatiquement par Symfony !) #}
                {{ form_rest(form) }}
                {{ form_end(form) }}

            {% else %}
            {% endif %}
    </article>

    {% endblock %}
