<!DOCTYPE html>
<html lang="fr">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Administration du blog de Jean Forteroche">

    <title>Blog Jean Forteroche, panneau d'administration</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <!-- MetisMenu CSS -->
    <link href="{{asset('css/metisMenu.min.css')}}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{asset('css/sb-admin-2.css')}}" rel="stylesheet">


    <!-- Custom Fonts -->
    <script src="https://use.fontawesome.com/f0bc94619a.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('ebook_blog_homepage') }}">Voir le site</a>
            </div>
            <!-- /.navbar-header -->
            <ul class="nav navbar-top-links navbar-right">
                <li><a href="{{ path('fos_user_profile_show') }}"><i class="fa fa-user fa-fw"></i>Mon compte</a></li>
                <li><a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-sign-out fa-fw"></i> Se déconnecter</a></li>
            </ul>



            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">

                        <li>
                            <a href="{{ path('ebook_blog_adminpage') }}"><i class="fa fa-cog fa-fw"></i>Accueil administration</a>
                        </li>
                        <li>
                            <a href="{{ path('ebook_blog_chapters', {'state': 'all'})}}"><i class="fa fa-book fa-fw"></i>Billets<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="{{ path('ebook_blog_chapters', {'state': 'published'})}}">Publiés</a>
                                </li>
                                <li>
                                    <a href="{{ path('ebook_blog_chapters', {'state': 'unpublished'})}}">Brouillons</a>
                                </li>
                                <li>
                                    <a href="{{ path('ebook_blog_chapter_add')}}">Ajouter un billet</a>
                                </li>

                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="{{ path('ebook_blog_comments', {'state': 'all'}) }}"><i class="fa fa-comment fa-fw"></i>Commentaires<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="{{ path('ebook_blog_comments', {'state': 'unpublished'}) }}">En attente de modération</a>
                                </li>
                                <li>
                                    <a href="{{ path('ebook_blog_comments', {'state': 'all'}) }}">Tous les commentaires</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="{{ path('ebook_blog_admin_legalmentions_edit') }}"><i class="fa fa-gavel fa-fw"></i>Mentions légales</a>
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

{% block body %}
{% endblock %}

    </div>
    <!-- /#wrapper -->

    <!-- jQuery & Bootstrap -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="{{asset('js/metisMenu.min.js')}}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{asset('js/sb-admin-2.js')}}"></script>

    <!-- TinyMCE -->
    <script src='//cloud.tinymce.com/stable/tinymce.min.js?apiKey=sv4s346i3ca9cy8wl9ftfpicl8n054bnmmxbkuek5c2xg71d'></script>
    <script>
        tinymce.init({
            selector: 'textarea',
            language: 'fr_FR',
            language_url: 'http://melanie-bousquet.fr/tinymce/langs/fr_FR.js'
        });
    </script>

</body>

</html>
