{% extends "admin/layout.html.twig" %}

{% block body %}

<div id="page-wrapper">

   <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Commentaires</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>

{% for flashMessage in app.session.flashbag.get('info') %}
<div class="alert alert-success">
    {{ flashMessage }}
</div>
{% endfor %}


        {% if listComments %}
        <div class="table-responsive">
            <table class="table table-hover table-condensed">
                <thead>
                    <tr>
                        <th>Chapitre</th>
                        <th>Date</th>
                        <th>Auteur</th>
                        <th>Contenu</th>
                        <th>Statut</th>
                        <th></th>  <!-- Actions column -->
                    </tr>
                </thead>
                {% for comment in listComments %}
                <tr>
                    <td>{{ comment.chapter.getId() }}</td>
                    <td><a class="chapterTitle" href="{{ path('ebook_blog_comment', { 'id': comment.id }) }}">{{ comment.date|date('d/m/Y')  }}</a></td>
                    <td>{{ comment.author }}</td>
                    <td>{{ comment.content | truncate(60) }}</td>
                    <td>
                        {% if comment.published %}
                        Publié
                        {% else %}
                        En attente de modération
                        {% endif %}
                    </td>

                </tr>
                {% endfor %}
            </table>
        </div>
        {% else %}
        <div class="alert alert-warning">Pas de commentaire.</div>
        {% endif %}



</div>
<!-- /#page-wrapper -->

{% endblock %}
