{% extends "admin/layout.html.twig" %}

{% block body %}

<div id="page-wrapper">

<h2 style="padding-top: 20px;">Commentaires</h2>

{% for flashMessage in app.session.flashbag.get('info') %}
<div class="alert alert-success">
    {{ flashMessage }}
</div>
{% endfor %}


        {% if listComments %}
        <div class="table-responsive">
            <table class="table table-hover table-condensed">
                <thead>
                    <tr>
                        <th>Chapitre</th>
                        <th>Date</th>
                        <th>Auteur</th>
                        <th>Contenu</th>
                        <th>Statut</th>
                        <th></th>  <!-- Actions column -->
                    </tr>
                </thead>
                {% for comment in listComments %}
                <tr>
                    <td></td>
                    <td><a class="chapterTitle" href="#">{{ comment.date|date('d/m/Y')  }}</a></td>
                    <td>{{ comment.author }}</td>
                    <td>{{ comment.content | truncate(60) }}</td>
                    <td>
                        {% if comment.published %}
                        Publié
                        {% else %}
                        En attente de modération
                        {% endif %}
                    </td>
                    <td>
                        <a href="#" class="btn btn-info btn-xs" title="Modérer"><span class="glyphicon glyphicon-edit"></span></a>
                        <button type="button" class="btn btn-danger btn-xs" title="Supprimer" data-toggle="modal" data-target="#ccommentDialog{{ comment.id }}"><span class="glyphicon glyphicon-remove"></span>
                        </button>
                        <div class="modal fade" id="chapterDialog{{ comment.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title" id="myModalLabel">Confirmation requise</h4>
                                    </div>
                                    <div class="modal-body">
                                        Souhaitez-vous vraiment supprimer ce chapitre ?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                                        <a href="{{ path('ebook_blog_comment_delete', { 'id': comment.id }) }}" class="btn btn-danger">Confirmer</a>
                                    </div>
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal-dialog -->
                        </div><!-- /.modal -->
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
        {% else %}
        <div class="alert alert-warning">Pas de chapitre trouvé.</div>
        {% endif %}



</div>
<!-- /#page-wrapper -->

{% endblock %}
